.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  background-color: white;
  font-family: "Shippori Antique", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url("https://wepik.com/storage/previews/2773036/colorful-psychedelic-groovy-zoom-background-r-688371383page1.jpg");
  color: white;
  text-shadow: 1px 1px 3px #020002;
  font-family: marker felt;
  font-size: 80px;
  grid-column: 1 / span 3;
  padding: 60px 10px;
  padding-left: 35px;
  margin: 10px;
}

.helloUser {
  font-size: 25px;
}
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: rgb(132, 57, 167);
  overflow: auto;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  background-color: rgb(255, 174, 0);
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

.buttons {
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(233, 5, 138);
  text-shadow: 0 0 3px #eb64d9;
  background-color: white;
  box-shadow: -3px 3px rgb(29, 208, 221), -2px 2px teal, -1px 1px teal;
  border-radius: 4px;
  font-weight: bold;
  border: solid 0.5px rgb(29, 208, 221);
}

.buttons:hover {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: rgb(248, 143, 192);
  border: none;
}
