h1 {
  font-family: "Sniglet", cursive;
  font-size: 100px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: rgb(209, 66, 133);
}

.Homepage {
  text-align: center;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  display: flex;
  height: 100vh;
}

.title {
  text-align: center;
  width: auto;
}

.homepageNav {
  width: 250px;
}

.signinbutton {
  background-color: rgb(248, 131, 186);
  border-radius: 47%;
  font-size: 20px;
  padding: 14px 40px;
  width: 200px;
  border: solid 0.5px rgb(245, 184, 212);
  box-shadow: -4px 4px rgb(209, 66, 133), -3px 3px rgb(209, 66, 133),
    -2px 2px rgb(209, 66, 133);
  font-family: "Comfortaa", cursive;
}

.signinbutton:hover {
  background-color: rgb(209, 66, 133);
  border: rgb(209, 66, 133);
}

.titleImage {
  height: 300px;
}
