h1 {
  font-family: marker felt;
  font-size: 100px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px #020002;
  border: solid 0.5px rgb(243, 52, 141);
  background-image: url("https://wepik.com/storage/previews/2773036/colorful-psychedelic-groovy-zoom-background-r-688371383page1.jpg");
}

.Homepage {
  text-align: center;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  text-align: center;
  width: auto;
}

.homepageNav {
  width: 250px;
}

.signinbutton {
  background-color: white;
  border-radius: 47%;
  font-size: 20px;
  padding: 14px 40px;
  margin-top: 20px;
  width: 200px;
  border: solid 0.5px rgb(245, 184, 212);
  box-shadow: -4px 4px rgb(132, 57, 167), -3px 3px rgb(209, 66, 133),
    -2px 2px rgb(209, 66, 133);
  font-family: marker felt;
  color: rgb(132, 57, 167);
}

.signinbutton:hover {
  background-color: rgb(219, 189, 231);
  border: rgb(209, 66, 133);
}

.titleImage {
  height: 300px;
}
